java:
  image: 'hmctspublic.azurecr.io/bar/api:latest'
  applicationPort: 8080
  ingressHost: bar-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  aadIdentityName: bar
  environment:
    POSTGRES_PORT: 5432
    POSTGRES_HOST: bar-postgres-db-{{ .Values.global.environment }}.postgres.database.azure.com
    POSTGRES_NAME: bar
    POSTGRES_USERNAME: bar@bar-postgres-db-{{ .Values.global.environment }}
    POSTGRES_CONNECTION_OPTIONS: ?sslmode=require
    SPRING_LIQUIBASE_ENABLED: false
    S2S_AUTH_URL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    IDAM_CLIENT_BASE_URL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
    PAYMENT_API_URL: http://payment-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    SERVER_SHUTDOWN_STRATEGY: graceful
    TIMEOUT_SERVER_SHUTDOWN_PHASE: 30s
    IDAM_API_URL: https://idam-web-public.aat.platform.hmcts.net/o
    OIDC_AUDIENCE_LIST: bar_frontend
    OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-aat2.internal:8443/openam/oauth2/hmcts
    AUTH_IDAM_CLIENT_BASEURL: https://idam-web-public.aat.platform.hmcts.net
  keyVaults:
    bar:
      secrets:
        - bar-S2S-SECRET
        - api-POSTGRES-PASS
        - AppInsightsInstrumentationKey

